* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


#h1 {
	text-align: center;
	margin-bottom: 30px;
}

.container {
	display: inline-block;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.subContainer {
	background-color: yellow;
	float: left;
	width: 33.3%
}

.para {
	border: 1px;
	border-style: solid;
	padding: 10px;
	position: relative;
}