* {
	box-sizing: border-box;
}

#hello {
	background-color: yellow;
}

#bonjour {
	background-color: red;
}

#hola {
	background-color: green;
}

.blockSpacing {
	display: inline-block;
	width: 33%
}

#title {
	text-align: center;
}


.para {
	border: 3px;
	float: right;
	border-style: solid;
}